In [0]:
match_data_path = "dbfs:/FileStore/tables/processed_match_data_2025_01_23-3.csv"
match_df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load(match_data_path)

salary_data_path = "dbfs:/FileStore/tables/processed_salary_data_2025_01_23-3.csv"
salary_df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load(salary_data_path)

match_df.show()
salary_df.show()

In [0]:

match_delta_path = "/delta/match_data"
salary_data_path = "/delta/salary_data"

match_df.write.format("delta").mode("overwrite").save(match_delta_path)
salary_df.write.format("delta").mode("overwrite").save(salary_data_path)

spark.sql(f"""
CREATE TABLE IF NOT EXISTS match_data
USING DELTA
LOCATION '{match_delta_path}'
          """)

spark.sql(f"""
CREATE TABLE IF NOT EXISTS salary_data
USING DELTA
LOCATION '{salary_data_path}'
           """)

spark.sql("SELECT * FROM match_data LIMIT 10").show()
spark.sql("SELECT * FROM salary_data LIMIT 10").show()